.header {
  .appBar {
  }

  .list {
    width: 240px;
  }
  .icon {
    align-items: center;
  }
  .userData {
    text-align: left;

  }
  h3 {
    display: block;
    padding: 0;
    margin: 0;
  }
  .description {
  }
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
  }
  .DropDown {
    margin: 0 .3rem;
  }
}